.nes-btn {
margin-right: 1%; 
margin-bottom: 1%;
}
html {
    background-color: black;
}
.container-fluid1 {
    background-color: #1b1924;
    background-image: url("https://www.transparenttextures.com/patterns/my-little-plaid.png");
    width: 100%;
}
.container-fluid {
    background-color: black;
}
h1,h2,p{
    color: whitesmoke;
}
#heros-form {
    color: whitesmoke;
    float: right;
    text-align: right;
}